@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;800&display=swap");
body {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h4 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.footer {
  background-color: #424949;
  box-sizing: border-box;
  padding: 20px;
}
.footer h4 {
  margin: 0px;
  padding: 0px;
  color: #fff;
  margin-bottom: 15px;
}
.footer ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.footer ul li a {
  margin: 0px;
  padding: 0px;
  display: block;
  text-decoration: none;
  color: #fff;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.3);
  position: absolute;
  padding: 15px;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}
.header h1 {
  margin: 0px;
  padding: 0px;
}

.choix {
  padding: 20px;
  padding-bottom: 50px;
}
.choix ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.choix ul li a {
  margin: 0px;
  padding: 0px;
  display: block;
  text-decoration: none;
  border-radius: 25px;
  background-color: #f2f2f2;
  margin-top: 15px;
  padding: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #000;
}
.choix ul li a::before {
  background-color: #9356DC;
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  margin-left: -35px;
  margin-right: 20px;
  padding: 5px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.choix ul li a .fa-solid {
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.3);
}
.choix ul li:nth-child(1) a::before {
  content: "1";
}
.choix ul li:nth-child(2) a::before {
  content: "2";
}
.choix ul li:nth-child(3) a::before {
  content: "3";
}
.choix ul li:nth-child(3) a .fa-solid {
  color: #9356DC;
}

.city {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 1;
  padding: 15px;
  margin-top: 80px;
  background-color: #f2f2f2;
  width: 100%;
  top: 0px;
  box-sizing: border-box;
}
.city input {
  background-color: #f2f2f2;
  border: none;
  outline: none;
  text-align: center;
  margin-left: 15px;
  width: 120px;
  font-size: 17px;
}
.city input::placeholder {
  opacity: 1;
  color: #000;
}

.explorer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #f2f2f2;
  margin-top: 135px;
}
.explorer h2, .explorer p {
  margin: 0px;
  padding: 0px;
  text-align: center;
  margin-bottom: 20px;
}
.explorer button {
  border-radius: 25px;
  background-image: linear-gradient(to top, #9356DC, #ff79da);
  margin-top: 15px;
  border: none;
  box-shadow: 2px 1px 14px 1px rgba(0, 0, 0, 0.3);
  padding: 15px;
  color: #fff;
  font-size: 17px;
  transition: 0.3s;
  cursor: pointer;
}
.explorer button:hover {
  opacity: 0.5;
  box-shadow: 2px 1px 14px 1px rgba(0, 0, 0, 0.7);
}

.resto-head {
  display: block;
  padding: 20px;
  padding-bottom: 50px;
  background-color: #f2f2f2;
}
.resto-head .resto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.resto-head .resto .menu-card {
  margin: 0px;
  padding: 0px;
  display: block;
  text-decoration: none;
  border-radius: 25px;
  overflow: hidden;
  background-color: #fff;
  padding: 0px;
  width: 100%;
  margin-bottom: 20px;
}
.resto-head .resto .menu-card h3, .resto-head .resto .menu-card p {
  margin: 0px;
  padding: 0px;
  color: #000;
}
.resto-head .resto .menu-card img {
  width: 100%;
  height: 200px;
  background-color: #fff;
  object-fit: cover;
}
.resto-head .resto .resto-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.pages-img {
  position: absolute;
  width: 100%;
  height: 300px;
  top: 77px;
  object-fit: cover;
  z-index: -1;
}
.pages-container {
  margin: 0px;
  padding: 0px;
  border-radius: 30px 30px 0px 0px;
  background-color: #f2f2f2;
  padding: 10px;
  margin-top: 280px;
}
.pages-container-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
.pages-container h2 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.pages-container h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.pages-container h3, .pages-container p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
}
.pages-container h3::after {
  content: "";
  display: block;
  height: 3px;
  width: 45px;
  margin-top: 3px;
  margin-bottom: 15px;
  background-color: #99e2d0;
}
.pages-container button {
  border-radius: 25px;
  background-image: linear-gradient(to top, #9356DC, #ff79da);
  margin-top: 15px;
  border: none;
  box-shadow: 2px 1px 14px 1px rgba(0, 0, 0, 0.3);
  padding: 15px;
  color: #fff;
  font-size: 17px;
  transition: 0.3s;
  cursor: pointer;
}
.pages-container button:hover {
  opacity: 0.5;
  box-shadow: 2px 1px 14px 1px rgba(0, 0, 0, 0.7);
}

.menu-detail {
  margin: 0px;
  padding: 0px;
  display: block;
  text-decoration: none;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  padding: 15px 10px;
  width: 100%;
  margin-bottom: 15px;
}
.menu-detail h4, .menu-detail p {
  margin: 0px;
  padding: 0px;
}
.menu-detail h4 {
  margin-bottom: 5px;
}
.menu-detail .prix {
  font-weight: 500;
}

.heart-animation {
  font-size: 25px;
  width: 25px;
  height: 26px;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.heart-animation-empty {
  opacity: 1;
}
.heart-animation-full {
  opacity: 0;
  height: 0px;
  width: 0px;
  transition: 0.3s;
}
.heart-animation:hover > .heart-animation-empty {
  opacity: 0;
  height: 0px;
  width: 0px;
}
.heart-animation:hover > .heart-animation-full {
  opacity: 1;
  height: 26px;
  width: 25px;
}
.heart-animation:hover > .heart-animation-full i {
  background: linear-gradient(to top, #ff79da, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*# sourceMappingURL=style.css.map */
