.explorer
      @include flex(column,center,center)
      padding: 50px
      background-color: $grey-light
      margin-top: 135px

      h2, p
            @include reset
            text-align: center
            margin-bottom: 20px

      button
            @include rounding
            background-image: linear-gradient(to top, $primaire, $secondaire)
            margin-top: $size-15px
            border: none
            box-shadow: 2px 1px 14px 1px $black-transparent
            padding: $size-15px
            color: $white
            font-size: $font-size-normal
            transition: 0.3s
            cursor: pointer

            &:hover
                  opacity: 0.5
                  box-shadow: 2px 1px 14px 1px $black-transparent-dark

                  

                  


      



                 
            
      
    
     
