.footer
    background-color: $grey
    box-sizing: border-box

    h4
        color: $white

    ul
        @include reset-list

        li
            a
                @include reset-link
                color: $white


        
   

    
