.header
    @include flex(row,center,center)
    @include shadow
    @include absolu
    padding: $size-15px
    z-index: $z-2
    top: $size-0
    left: $size-0
    right: $size-0
    background-color: $white

    a
        color: $black
        position: absolute
        display: block
        left: 20px
        top: 30px

    h1
        @include reset

    @media (screen and min-width: $breakpoint-tablet)
        @include reset-shadow
    

  

 

    

    



    